Repository AyoubMoujane/covid-alert-services: changes, and which GitLab CI jobs are due for each by the changed paths.
All: userservice, vaccinationservice, newsservice, location_service, discoveryserver, covidtestservice, configserver, apigatewayservice

.gitlab-ci.yml:

stages:
  - trigger-microservices-pipelines

variables:
  DEPLOY_BRANCH: "master"

userservice:
  stage: trigger-microservices-pipelines
  trigger:
    include: userservice/.gitlab-ci.yml
    strategy: depend
  variables:
    BRANCH: $DEPLOY_BRANCH
  only:
    changes:
      - prepare-cicd-pipeline-pierre
      - userservice/**/*


vaccinationservice:
  stage: trigger-microservices-pipelines
  trigger:
    include: vaccinationservice/.gitlab-ci.yml
    strategy: depend
  variables:
    BRANCH: $DEPLOY_BRANCH
  only:
    changes:
      - master
      - vaccinationservice/**/*

newsservice:
  stage: trigger-microservices-pipelines
  trigger:
    include: newsservice/.gitlab-ci.yml
    strategy: depend
  variables:
    BRANCH: $DEPLOY_BRANCH
  only:
    changes:
      - master
      - newsservice/**/*

location_service:
  stage: trigger-microservices-pipelines
  trigger:
    include: location_service/.gitlab-ci.yml
    strategy: depend
  variables:
    BRANCH: $DEPLOY_BRANCH
  only:
    changes:
      - master
      - location_service/**/*

discoveryserver:
  stage: trigger-microservices-pipelines
  trigger:
    include: discoveryserver/.gitlab-ci.yml
    strategy: depend
  variables:
    BRANCH: $DEPLOY_BRANCH
  only:
    changes:
      - master
      - discoveryserver/**/*

covidtestservice:
  stage: trigger-microservices-pipelines
  trigger:
    include: covidtestservice/.gitlab-ci.yml
    strategy: depend
  variables:
    BRANCH: $DEPLOY_BRANCH
  only:
    changes:
      - master
      - covidtestservice/**/*

configserver:
  stage: trigger-microservices-pipelines
  trigger:
    include: configserver/.gitlab-ci.yml
    strategy: depend
  variables:
    BRANCH: $DEPLOY_BRANCH
  only:
    changes:
      - master
      - configserver/**/*

apigatewayservice:
  stage: trigger-microservices-pipelines
  trigger:
    include: apigatewayservice/.gitlab-ci.yml
    strategy: depend
  variables:
    BRANCH: $DEPLOY_BRANCH
  only:
    changes:
      - master
      - apigatewayservice/**/*

removed configs
  notificationservice/build.gradle
  notificationservice/src/main/java/com/example/notificationservice/config/WebSocketConfig.java
  notificationservice/src/main/resources/bootstrap.yml
Due: none

test cicd userservice/vaccinationservice
  userservice/.gitlab-ci.yml
Due: userservice

test cicd userservice
  userservice/.gitlab-ci.yml
Due: userservice

test cicd userservice
  .gitlab-ci.yml
Due: none

test cicd userservice
  .gitlab-ci.yml
  userservice/.gitlab-ci.yml
Due: userservice

updated production url
  notificationservice/src/main/java/com/example/notificationservice/config/WebSocketConfig.java
Due: none

test cicd userservice / vaccination serivce
  .gitlab-ci.yml
  userservice/.gitlab-ci.yml
  vaccinationservice/.gitlab-ci.yml
Due: userservice, vaccinationservice

news with images
  newsservice/src/main/java/covidnews/models/News.java
  newsservice/src/main/java/covidnews/service/NewsService.java
Due: newsservice

test all microservices
  .gitlab-ci.yml
  apigatewayservice/.gitlab-ci.yml
  configserver/.gitlab-ci.yml
  covidtestservice/.gitlab-ci.yml
  discoveryserver/.gitlab-ci.yml
  location_service/.gitlab-ci.yml
  newsservice/.gitlab-ci.yml
  notificationservice/.gitlab-ci.yml
  userservice/.gitlab-ci.yml
  vaccinationservice/.gitlab-ci.yml
Due: userservice, vaccinationservice, newsservice, location_service, discoveryserver, covidtestservice, configserver, apigatewayservice

test all microservices
  .gitlab-ci.yml
Due: none

added logs before alerting users
  location_service/src/main/java/covidlocation/services/SendService.java
Due: location_service

updated schema
  Schema.png
  documentation/Schema.png
Due: none

renamed file
  documentation/Schema.png
  documentation/backend-microservices-deployment-diagram.png
Due: none

added missing news service
  documentation/backend-microservices-deployment-diagram.png
Due: none

updated schema
  documentation/backend-microservices-deployment-diagram.png
Due: none

test userservice / vaccinationservice
  userservice/.gitlab-ci.yml
  vaccinationservice/.gitlab-ci.yml
Due: userservice, vaccinationservice

test ci cd
  apigatewayservice/.gitlab-ci.yml
  configserver/.gitlab-ci.yml
  covidtestservice/.gitlab-ci.yml
  discoveryserver/.gitlab-ci.yml
  location_service/.gitlab-ci.yml
  newsservice/.gitlab-ci.yml
  notificationservice/.gitlab-ci.yml
Due: newsservice, location_service, discoveryserver, covidtestservice, configserver, apigatewayservice

updated model sent to front
  notificationservice/src/main/java/com/example/notificationservice/services/WSService.java
Due: none

duplicate notification fix attempt
  location_service/src/main/java/covidlocation/services/SendService.java
Due: location_service

tests
  covidtestservice/build.gradle
  covidtestservice/src/test/java/covidtest/CovidTestControllerTest.java
  userservice/src/test/java/covidalert/UserControllerTests.java
  vaccinationservice/src/test/java/covidvaccination/Utils/JsonString.java
  vaccinationservice/src/test/java/covidvaccination/VaccinationControllerTest.java
Due: userservice, vaccinationservice, covidtestservice

updated readme with deployment diagram
  README.md
Due: none

updated image with whitebackground for readme readability
  documentation/backend-microservices-deployment-diagram.png
Due: none
