Repository AyoubMoujane/covid-alert-services: changes, and which GitLab CI jobs are due for each by the changed paths.
All: userservice, location_service, discoveryserver

userservice:
  stage: trigger-microservices-pipelines
  trigger:
    include: userservice/.gitlab-ci.yml
    strategy: depend

location_service:
  stage: trigger-microservices-pipelines
  trigger:
    include: location_service/.gitlab-ci.yml
    strategy: depend

discoveryserver:
  stage: trigger-microservices-pipelines
  trigger:
    include: discoveryserver/.gitlab-ci.yml
    strategy: depend

test pipeline discoveryserver
  apigatewayservice/.gitlab-ci.yml
  discoveryserver/Dockerfile
Due: discoveryserver

test pipeline discoveryserver
  discoveryserver/Dockerfile
Due: discoveryserver

test pipeline discoveryserver
  .gitlab-ci.yml
  apigatewayservice/Dockerfile
Due: none

test discoveryserver and apigateway
  apigatewayservice/.gitlab-ci.yml
  discoveryserver/.gitlab-ci.yml
Due: discoveryserver

test discoveryserver
  discoveryserver/Dockerfile
Due: discoveryserver

test apigatewayservice
  apigatewayservice/Dockerfile
Due: none

Added apigateway to config server
  apigatewayservice/build.gradle
  apigatewayservice/src/main/resources/application.properties
  apigatewayservice/src/main/resources/application.yml
  apigatewayservice/src/main/resources/bootstrap.yml
  userservice/src/main/resources/application.yml
Due: userservice

updated service to use config server
  location_service/build.gradle
  location_service/src/main/resources/application.properties
  location_service/src/main/resources/application.yml
  location_service/src/main/resources/bootstrap.yml
Due: location_service

test deploy ecs location_service
  location_service/.gitlab-ci.yml
  location_service/locationservice-task-definition.json
Due: location_service

test deploy ecs location_service
  location_service/.gitlab-ci.yml
Due: location_service

test deploy ecs location_service
  .gitlab-ci.yml
  userservice/.gitlab-ci.yml
Due: userservice

updated route to get user by id
  userservice/src/main/java/covidalert/controllers/UsersController.java
Due: userservice

added git ignore for env file
  configserver/.gitignore
Due: none

test deploy ecs location_service
  apigatewayservice/apigatewayservice-task-definition.json
  discoveryserver/discoveryserver-task-definition.json
  userservice/.gitlab-ci.yml
Due: userservice, discoveryserver

comment the gitlab file
  .gitlab-ci.yml
Due: none

modify gitlab files
  .gitlab-ci.yml
  userservice/.gitlab-ci.yml
Due: userservice

modify gitlab files
  .gitlab-ci.yml
Due: none

http request
  docker-compose.yml
  location_service/src/main/java/covidlocation/controllers/LocationsController.java
  location_service/src/main/java/covidlocation/controllers/RestService.java
Due: location_service

add routes for vaccination microservice
  configserver/src/main/resources/application.yml
  docker-compose.yml
  settings.gradle
  userdatabase/init_vaccination.sql
  vaccinationservice/Dockerfile
  vaccinationservice/src/main/java/covidvaccination/VaccinationServiceApplication.java
  vaccinationservice/src/main/java/covidvaccination/controllers/VaccinationsController.java
  vaccinationservice/src/main/java/covidvaccination/models/Vaccination.java
  vaccinationservice/src/main/java/covidvaccination/repositories/VaccinationCustomRepository.java
  vaccinationservice/src/main/java/covidvaccination/repositories/VaccinationRepository.java
  vaccinationservice/src/main/java/covidvaccination/repositories/VaccinationRepositoryImpl.java
  vaccinationservice/src/main/resources/bootstrap.yml
  vaccinationservice/src/test/java/covidvaccination/VaccinationControllerTest.java
  vaccinationservice/src/test/java/covidvaccination/VaccinationServiceApplicationTests.java
Due: none

add routes for vaccination microservice
  vaccinationservice/build.gradle
Due: none

kafka service
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  docker-compose.yml
  kafka_service/Dockerfile
  kafka_service/build.gradle
  kafka_service/docker-compose.yml
  kafka_service/src/main/java/kafkapackage/KafkaServiceApplication.java
  kafka_service/src/main/java/kafkapackage/controllers/KafkaController.java
  kafka_service/src/main/java/kafkapackage/services/ConsumerClass.java
  kafka_service/src/main/java/kafkapackage/services/ProducerClass.java
  kafka_service/src/main/resources/application.yml
  settings.gradle
Due: none

init notification service
  notificationservice/.gitignore
  notificationservice/build.gradle
  notificationservice/gradle/wrapper/gradle-wrapper.jar
  notificationservice/gradle/wrapper/gradle-wrapper.properties
  notificationservice/gradlew
  notificationservice/gradlew.bat
  notificationservice/src/main/java/com/example/notificationservice/NotificationserviceApplication.java
  notificationservice/src/main/resources/application.properties
  notificationservice/src/test/java/com/example/notificationservice/NotificationserviceApplicationTests.java
  settings.gradle
Due: none

added first version of notification service with the possiblity to send a message and subscribe to a specific topic
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/modules.xml
  .idea/modules/vaccinationservice/covid-alert-backend.vaccinationservice.test.iml
  notificationservice/build.gradle
  notificationservice/src/main/java/com/example/notificationservice/WSService.java
  notificationservice/src/main/java/com/example/notificationservice/config/WebSocketConfig.java
  notificationservice/src/main/java/com/example/notificationservice/controller/NotificationController.java
  notificationservice/src/main/java/com/example/notificationservice/controller/WSController.java
  notificationservice/src/main/java/com/example/notificationservice/model/Message.java
  notificationservice/src/main/java/com/example/notificationservice/model/ResponseMessage.java
  notificationservice/src/main/resources/application.properties
  notificationservice/src/test/java/com/example/notificationservice/NotificationControllerTest.java
Due: none

add covidtest service
  covidtestservice/Dockerfile
  covidtestservice/build.gradle
  covidtestservice/src/main/java/covidtest/CovidTestServiceApplication.java
  covidtestservice/src/main/java/covidtest/controllers/CovidTestController.java
  covidtestservice/src/main/java/covidtest/models/CovidTest.java
  covidtestservice/src/main/java/covidtest/repositories/CovidTestCustomRepository.java
  covidtestservice/src/main/java/covidtest/repositories/CovidTestRepository.java
  covidtestservice/src/main/java/covidtest/repositories/CovidTestRepositoryImpl.java
  covidtestservice/src/main/java/covidtest/services/CovidTestService.java
  covidtestservice/src/main/resources/bootstrap.yml
  covidtestservice/src/test/java/covidtest/CovidTestControllerTest.java
  covidtestservice/src/test/java/covidtest/CovidTestServiceApplicationTest.java
  covidtestservice/src/test/java/covidtest/Utils/JsonString.java
  docker-compose.yml
  settings.gradle
  userdatabase/init_covidtest.sql
Due: none

add service repository to vaccination service
  .idea/modules/covidtestservice/covid-alert-backend.covidtestservice.main.iml
  vaccinationservice/src/main/java/covidvaccination/controllers/VaccinationsController.java
  vaccinationservice/src/main/java/covidvaccination/models/Vaccination.java
  vaccinationservice/src/main/java/covidvaccination/repositories/VaccinationCustomRepository.java
  vaccinationservice/src/main/java/covidvaccination/repositories/VaccinationRepositoryImpl.java
  vaccinationservice/src/main/java/covidvaccination/services/VaccinationService.java
Due: none

modify covidtest model
  covidtestservice/src/main/java/covidtest/models/CovidTest.java
Due: none

store locations
  kafka_service/docker-compose.yml
  kafka_service/src/main/java/kafkapackage/controllers/KafkaController.java
  kafka_service/src/main/java/kafkapackage/models/Location.java
  kafka_service/src/main/java/kafkapackage/services/Consumer.java
  kafka_service/src/main/java/kafkapackage/services/ConsumerClass.java
  kafka_service/src/main/java/kafkapackage/services/Producer.java
  kafka_service/src/main/java/kafkapackage/services/ProducerClass.java
  kafka_service/src/main/resources/application.properties
  kafka_service/src/main/resources/application.yml
  location_service/Dockerfile
Due: location_service

removed typos creating errors
  kafka_service/build.gradle
  kafka_service/src/main/java/kafkapackage/KafkaServiceApplication.java
  kafka_service/src/main/java/kafkapackage/LocationKafkaProcessor.java
  kafka_service/src/main/java/kafkapackage/models/Location.java
  kafka_service/src/main/java/kafkapackage/services/Consumer.java
  kafka_service/src/main/resources/application.properties
Due: none

implemented communication between covidtestservice and location service but deserialization problem
  covidtestservice/build.gradle
  covidtestservice/src/main/java/covidtest/controllers/CovidTestController.java
  covidtestservice/src/main/java/covidtest/models/PositiveUser.java
  covidtestservice/src/main/java/covidtest/services/Producer.java
  covidtestservice/src/main/resources/application.properties
  covidtestservice/src/main/resources/application.yml
  covidtestservice/src/test/java/covidtest/CovidTestControllerTest.java
  docker-compose.yml
  location_service/build.gradle
  location_service/src/main/java/covidlocation/controllers/LocationsController.java
  location_service/src/main/java/covidlocation/models/PositiveUser.java
  location_service/src/main/java/covidlocation/services/Consumer.java
  location_service/src/main/java/covidtest/models/PositiveUser.java
  location_service/src/main/resources/application.properties
  location_service/src/main/resources/application.yml
Due: location_service

handling consume problem
  covidtestservice/src/main/resources/application.properties
  location_service/src/main/java/covidlocation/services/Consumer.java
Due: location_service

testing new value
  location_service/src/main/java/covidlocation/services/Consumer.java
Due: location_service

serialization / deserialization to / from json
  covidtestservice/build.gradle
  covidtestservice/src/main/java/covidtest/services/CustumSerializer.java
  covidtestservice/src/main/java/covidtest/services/Producer.java
  location_service/build.gradle
  location_service/src/main/java/covidlocation/services/Consumer.java
  location_service/src/main/java/covidlocation/services/CustomObjectDeserializer.java
Due: location_service

merge kafka_implementation
  covidtestservice/src/main/java/covidtest/services/CustumSerializer.java
  location_service/src/main/java/covidlocation/services/CustomObjectDeserializer.java
Due: location_service

add changes in kafka_service
  kafka_service/src/main/java/kafkapackage/services/Consumer.java
Due: none

implemented producer consumer between vaccinationservice and notificationservice with kafka using UserAlertTopic
  .idea/modules/vaccinationservice/covid-alert-backend.vaccinationservice.test.iml
  docker-compose.yml
  location_service/src/main/java/covidtest/models/PositiveUser.java
  notificationservice/Dockerfile
  notificationservice/build.gradle
  notificationservice/src/main/java/com/example/notificationservice/model/UserAlert.java
  notificationservice/src/main/java/com/example/notificationservice/services/Consumer.java
  notificationservice/src/main/resources/application.properties
  vaccinationservice/build.gradle
  vaccinationservice/src/main/java/covidvaccination/controllers/VaccinationsController.java
  vaccinationservice/src/main/java/covidvaccination/models/UserAlert.java
  vaccinationservice/src/main/java/covidvaccination/services/Producer.java
  vaccinationservice/src/main/resources/application.properties
Due: location_service

changed user id from long to string
  notificationservice/src/main/java/com/example/notificationservice/model/UserAlert.java
  vaccinationservice/src/main/java/covidvaccination/controllers/VaccinationsController.java
  vaccinationservice/src/main/java/covidvaccination/models/UserAlert.java
Due: none

Path conditions:
  userservice: any of: pipelineGitlabCiCd-pierre, userservice/**/*
  location_service: any of: pipelineGitlabCiCd-pierre, location_service/**/*
  discoveryserver: any of: pipelineGitlabCiCd-pierre, discoveryserver/**/*
